---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "variables",
  "mixins",
  "z-index",
  "base",
  "layout",
  "post",
  "syntax-highlighting"
;

@charset "utf-8";
@include font-face(Avenir, "Avenir-Heavy", 900);
@include font-face(Avenir, "Avenir-Light", 300);
@include font-face(Avenir, "Avenir-Medium", 500);
@include font-face(Goudy, "GoudyBookletter1911", 500);
@include font-face(icons, "Glyphter", 500);
@include font-face(Handwritten, "RockSalt", 500);

// icons
[class*='icon-']:before{
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	@include antiAlias;
}
.icon-back:before{content:'\0042';}
.icon-social-dribbble:before{content:'\0044';}
.icon-social-email:before{content:'\0045';}
.icon-social-instagram:before{content:'\0049';}
.icon-social-linkedin:before{content:'\004c';}
.icon-current-music:before{content:'\004d';}
.icon-social-twitter:before{content:'\0054';}
.icon-current-watching:before{content:'\0057';}

