<script type="text/javascript" src="{{ site.baseurl}}/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/libs/jquery.history.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/libs/jquery.hammer.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl}}/js/libs/TweenLite.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/libs/CSSPlugin.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/libs/EasePack.min.js"></script>

<script type="text/javascript" src="{{ site.baseurl}}/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/libs/BezierEasing.js"></script>

<script type="text/javascript" src="{{ site.baseurl}}/js/main.js"></script>

<footer class="site-footer">

</footer>
