/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

* {
  @include borderBox;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $serif-font;
  color: $text-color;
  background-color: $bgColor;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

p {
  font-size: $base-font-size;
  color: $bodyColor;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
blockquote, pre,
ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ol {
  margin-left: $spacing-unit;
}
li {
  list-style: none;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-size: 48px;
  @include antiAlias;
  color: $primary;
  line-height: 1.3em;
}

h2 { 
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
}

h4 {
  font-size: 14px;
  letter-spacing: 1px;
}

/**
 * Links
 */
a {
  color: $linkColor;
  border-bottom: 1px dotted $linkColor;
  text-decoration: none;
  pointer-events: auto;
  @include prefix (transition, 0.3s ease-in-out);

  &:visited {
    color: $linkVisited;
    border-color: $linkVisited;
  }

  &:hover {
    color: $linkHover;
    border-color: $linkHover;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

// common 2 column layout i'm using
.scrollable-fixed-wrap {
  width: 100%;
  height: 100vh;
  max-width: $breakpt-max;
  margin: 0 auto;
  position: relative;
  padding: 0 $body-padding;
  
  &.right-fixed {
    .scrollable-wrapper {
      left: 0;
    }
    .fixed-wrapper {
      left: 50%;
    }
  }
  
  &.left-fixed {
    .scrollable-wrapper {
      right: 0;
    }
    .fixed-wrapper {
      right: 50%;
    }
  }
  
  .scrollable-wrapper {
    position: absolute;
    top: 0;
    width: 50%;
    padding: $body-padding-content 5%; 
  } 
   
  .fixed-wrapper {
    position: fixed;
    width: 50%;
    max-width: $breakpt-max / 2;
    top: 0;
    height: 100vh;
    padding: $body-padding-content 5%; 
  }
  
  .fixed-contents {
    @include centerAbsV;
  }
}

@media screen and (max-width: $breakpt-med ) {
  .page-content .scrollable-fixed-wrap {
    .scrollable-wrapper, .fixed-wrapper {
      width: 100%;
    } 
    
    .fixed-wrapper {
      height: auto;
      position: static;
      top: auto;
      left: auto;
      right: auto;
      margin: 0 auto;
      padding: $body-padding-content $body-padding-sml/2;
      
      .fixed-contents {
        position: static;
        margin: 0 auto;
        left: auto;
        top: auto;
        right: auto;
        left: auto;
        transform: translateY(0);
      }
    }
    
    .scrollable-wrapper {
      position: static;
      top: auto;
      right: auto;
      left: auto;
    }
  }
}

// tags in pill form
// .tags-wrap {
//   margin-top: $body-padding-sml * 2;
// }

// .tag {
//   float: left;
//   text-transform: uppercase;
//   padding: 5px 20px;
//   border-radius: 20px;
//   font-family: $sans-serif-font;
//   font-weight: 900;
//   font-size: 12px;
//   background-color: $grey-color-light;
//   margin-right: 10px;
//   letter-spacing: 2px;
//   cursor: pointer;
//   color: $bodyColor;
//   @include prefix (transition, 0.3s $easing-curve);
  
//   &:hover {
//     background-color: #fff;
//     @include prefix (box-shadow, 0 3px 5px rgba(0,0,0, 0.1) );
//   }
// }

// tags written like currently watching
.tag {
  display: inline;
  cursor: pointer;
  @include prefix (transition, 0.3s $easing-curve);
  border-bottom: 1px dotted transparent;
  
  &:hover {
    border-color: $primary;
  }
  
  &:after {
    content: ",";
  }
  
  &:last-child:after {
    display: none;
  }
}

// polaroid css
.post-polaroid {
  background-color: #fff;
  border: 1px solid $grey-color-light;
  font-family: Handwritten;
  width: 100%;
  padding: 3% 3% 0;
  position: relative;
  margin: $body-padding*2 auto;
  cursor: pointer;
  overflow: hidden;
  @include prefix (box-shadow, 0 5px 10px rgba($black, 0.1));
  @include prefix (transition, 0.3s $easing-curve);
  
  &:nth-child(5n+1) { @include prefix (transform, rotate(-1.3deg) ); }
  &:nth-child(5n+2) { @include prefix (transform, rotate(1.5deg) ); }
  &:nth-child(5n+3) { @include prefix (transform, rotate(-2.1deg) ); }
  &:nth-child(5n+4) { @include prefix (transform, rotate(0.75deg) ); }
  &:nth-child(5n+0) { @include prefix (transform, rotate(1.7deg) ); }
  
  &.still {
    .background{
      @include prefix (transform, scale(1.03));
      @include prefix (filter, grayscale(0));
    }
  }
  
  &:not(.still):hover{
    @include prefix (transform, rotate(0deg) scale(1.05));
    @include prefix (box-shadow, 0 10px 20px rgba($black, 0.07));
    
    .background {
      @include prefix (transform, scale(1.03));
      @include prefix (filter, grayscale(0));
      
      &:after {
        border-top: 400px solid rgba(255,255,255,0.1);
      }
    }
    
    .post-meta {
      opacity: 1;
    }
  }
  
  .post-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    @include prefix (filter, grayscale(50%));
    @include prefix (transition, 0.5s $easing-curve);
    
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 400px solid rgba(255,255,255,0.05);
      border-left: 600px solid transparent;
      position: absolute;
      top: 0;
      right: 0;
      @include prefix (transition, 0.5s $easing-curve);
    }
  }
  
  .post-meta {
    color: $black;
    width: 100%;
    opacity: 0.8;
    padding: $body-padding-sml;
    @include prefix (transition, 0.3s $easing-curve);
    
    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .title-blurb {
    @include calc (width, calc(100% - 75px));
    padding-left: $body-padding-sml;
    
    h2 {
      margin-bottom: 7px;
      @include truncate(2, 1.6em);
    }
    
    h4 {
      @include truncate(2, 1.6em);
    }
  }
  .date {
    text-transform: uppercase;
    line-height: 2.35em;
    padding-right: $body-padding-sml;
    position: relative;
    opacity: 0.8;
    // border-right: 1px solid rgba($black,0.2);
    
    &:after {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: url("../img/assets/handwritten-line.svg") center center no-repeat;
      background-size: cover;
    }
    
    .day {
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 1.5em;
    }
    
    .month, .year {
      font-size: 10px;
      font-weight: 900;
      line-height: 3em;
    }
    
    .month {
      letter-spacing: 8px;
    }
    
    .year {
      letter-spacing: 4px;
    }
  }
}
