---
layout: default
---
<article class="page-name post">
    
  <div class="scrollable-fixed-wrap">
    <div class="polaroid-wrap fixed-wrapper left-side">
      <div class="fixed-inner-wrapper">
        <div class="post-polaroid fixed-contents">
          <div class="post-wrap">
            <div class="background" style="background-image: url('{{ site.url }}img/{{page.date | date: '%Y%m%d' }}_cover.jpg');"></div>
          </div>
          <div class="post-meta">
            <div class="date">
              <div class="month">{{ page.date | date: "%b" }}</div>
              <div class="day">{{ page.date | date: "%d" }}</div>
              <div class="year">{{ page.date | date: "%Y" }}</div>
            </div>
            <div class="title-blurb">
              <h2>{{ page.title }}</h2>
              <h4>{{ page.description }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrap scrollable-wrapper swap-content right-side">
      <div class="scrollable-contents">
        <div class="post">
          <div class="content">
            <header class="post-header post-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%A, %B %d, %Y, %H:%M:%S" }}
              </time> 
        	  </header>

        	  <div class="post-content" itemprop="articleBody">
        	    {{ content }}
        	  </div>
            
            <div class="currently-wrapper">
              {% if page.currentlyWatching %}
                <div class="currently-item">
                  <i class="icon-current-watching"></i>
                  <span class="value">{{ page.currentlyWatching }}</span>
                </div>
              {% endif %}
              {% if page.currentlyListening %}
                <div class="currently-item">
                  <i class="icon-current-music"></i>
                  <span class="value">{{ page.currentlyListening[0] }} – {{ page.currentlyListening[1] }}</span>
                </div>
              {% endif %}
              {% if page.categories %}
                <div class="currently-item">
                  <i class="icon-tags"></i>
                  {% for tag in page.categories %}
                    <div class="tag value">{{ tag }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>
