---
layout: default
---
<article class="page-name post">
    
  <div class="scrollable-fixed-wrap swap-content-all">
    <div class="polaroid-wrap fixed-wrapper left-side">
      <div class="fixed-inner-wrapper">
        <div class="post-polaroid fixed-contents">
          <div class="post-wrap">
            <div class="background" style="background-image: url('{{ site.url }}img/{{page.date | date: '%Y%m%d' }}_cover.jpg');"></div>
          </div>
          <div class="post-meta">
            <div class="date">
              <div class="month">{{ page.date | date: "%b" }}</div>
              <div class="day">{{ page.date | date: "%d" }}</div>
              <div class="year">{{ page.date | date: "%Y" }}</div>
            </div>
            <div class="title-blurb">
              <h2>{{ page.title }}</h2>
              <h4>{{ page.description }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrap scrollable-wrapper swap-content right-side">
      <div class="scrollable-contents">
        <div class="post">
          <div class="content">
            <header class="post-header post-meta">
              <div class="next-prev-control">
                <a href="{{page.previous.url}}" class="{% if page.previous.url == null %}disabled{% endif %} prev skipLink">
                  <span class="icon-prev"></span>
                </a>
                <a href="{{page.next.url}}" class="{% if page.next.url == null %}disabled{% endif %} next skipLink">
                  <span class="icon-next"></span>
                </a>
              </div>
              <div class="time-wrapper"> 
                <a href="{{ site.baseurl }}/" class="homelink">{{ site.author }}</a>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ page.date | date: "%a, %B %d, %Y, %H:%M:%S" }}
                </time>
              </div>
                 
        	  </header>

        	  <div class="post-content" itemprop="articleBody">
        	    {{ content }}
        	  </div>
            
            <div class="currently-wrapper">
              {% if page.currentlyWatching %}
                <div class="currently-item">
                  <i class="icon-current-watching"></i>
                  <span class="value">{{ page.currentlyWatching[0] }}{% if page.currentlyWatching[1] %} — {{ page.currentlyWatching[1] }}{% endif %}</span>
                </div>
              {% endif %}
              {% if page.currentlyListening %}
                <div class="currently-item">
                  <i class="icon-current-music"></i>
                  <span class="value">{{ page.currentlyListening[0] }} – {{ page.currentlyListening[1] }}</span>
                </div>
              {% endif %}
              {% if page.tags %}
                <div class="currently-item">
                  <i class="icon-tags"></i>
                  <div class="tags-wrap">
                    {% for tag in page.tags %}
                      <div class="tag value {{ tag | slugify }}">{{ tag }}</div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>
